@mixin cursor {
  animation: blinker 0.8s step-end infinite;
  position: absolute;
  font-weight: bolder;
  &:before {
    content: "\007c";
    font-weight: 800;
    color: ivory;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@mixin layer($zindex) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: $zindex;
}

.panel-editor {
  margin-left: 150px;
  display: flex;
  flex-direction: row;

  .row-number {
    width: 50px;
    height: 100%;
  }

  .editor-container {
    position: relative;
    display: inline-bloc;
    width: calc(100% - 50px);

    /* */
    .front-editor {
      @include layer(2);
      background-color: transparent;
      .row {
        cursor: text;
      }
    }
    /* */
    .overlay {
      @include layer(1);

      .row {
        .cursor {
          @include cursor();
          position: absolute;
        }

        .selection {
          height: 100%;
          display: inline-block;
          background-color: rgba(38, 79, 120, 0.6);
        }
      }
    }

    /* */
    .editor {
      z-index: 0;
      .row {
        white-space: pre;
        height: 18px;
        font-size: 15px;
        font-family: Consolas, Monaco, "Courier New", Courier, monospace;
        background-color: #505050;
        color: antiquewhite;
      }
    }
  }
}
